@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100% !important;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #333;
}

button {
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

input {
    font-family: 'Nunito', sans-serif;
}

input:focus {
    outline: none;
}

.logo {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
}

.logo::after {
    content: "";
    width: 100%;
    height: 50%;
    display: block;
    background: #e33932;
    border-bottom: 4px solid #111;
}

.logo .center {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #111;
}

.logo .center::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 50%;
    display: block;
    margin-top: 3px;
    margin-left: 3px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: #fff;
}

.main {
    text-align: center;
}

.pokemon_list {
    margin: auto;
    text-transform: capitalize;
}

.pokemon_list ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 1%;
    padding: 40px;
    width: 20%;
    height: 250px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in;
    background: #222;
}

.pokemon_list h2 {
    font-weight: normal;
    color: #ddd;
    width: fit-content;
    margin: auto;
    font-size: 18px;
}

.pokemon_list ul li:hover {
    background: rgba(0, 255, 255, .1);
}

.pokemon_list p {
    margin: 5px 0;
    color: #777;
    margin: 20px auto 0 auto;
    width: fit-content;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-size: 30px;
}

.pagination {
    text-align: center;
}

.pagination button {
    margin: 1%;
}

input[type="search"] {
    width: 86%;
    border: 0;
    padding: 20px 0 5px 0;
    font-size: 20px;
    border-bottom: 2px solid #555;
    transition: .2s ease-in;
    margin-bottom: 10px;
    background: none;
    color: #fff;
}

input::placeholder {
    color: #555;
}

input[type="search"]:focus {
    border-bottom: 2px solid #aaa;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    background: #222 !important;
}

#modal h1 {
    font-weight: normal;
    text-transform: capitalize;
    color: #ddd;
    margin-bottom: 15px;
}

#modal h1 span {
    color: #666;
}

#modal .inside {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.inside div {
    flex: 1;
}

.inside div .types li {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    text-transform: uppercase;
}

/* --------------------------- POKEMON TYPES COLOR --------------------------------------- */

.inside div .types li[name="poison"] {
    background: #934b92;
}

.inside div .types li[name="grass"] {
    background: #69c23d;
}

.inside div .types li[name="fire"] {
    background: #ed6f35;
}

.inside div .types li[name="water"] {
    background: #70a4ec;
}

.inside div .types li[name="bug"] {
    background: #a8b928;
}

.inside div .types li[name="flying"] {
    background: #aaa;
}

.inside div .types li[name="normal"] {
    background: #a8a878;
}

.inside div .types li[name="electric"] {
    background: #f8d03c;
}

.inside div .types li[name="fairy"] {
    background: #ef99ac;
}

.inside div .types li[name="fighting"] {
    background: #c03028;
}

.inside div .types li[name="psychic"] {
    background: #f65888;
}

.inside div .types li[name="ground"] {
    background: #b99c53;
}

.inside div .types li[name="ice"] {
    background: #98d8d8;
}

.inside div .types li[name="ghost"] {
    background: #111;
}

.inside div .types li[name="rock"] {
    background: #b9a138;
}

.inside div .types li[name="steel"] {
    background: #535455;
}

.inside div .types li[name="dragon"] {
    background: #f47137;
}

.inside div .types li[name="dark"] {
    background: #4a4a4a;
}

/* ---------------------------------------------------------------------------------------- */

.stats {
    margin-top: 10%;
    font-size: 12px;
}

.stats li {
    display: block;
    color: #ddd;
}

.bar {
    width: 300px;
    height: 20px;
    background: #111;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 6px;
    overflow: hidden;
}

.bar span {
    background-image: linear-gradient(to right, rgba(25, 196, 82, .4), rgba(25, 196, 82, 1));
    display: block;
    height: 100%;
    padding-top: 3px;
    color: #fff;
}

.inside div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.inside div:nth-child(2) li {
    display: block;
    margin: 30px 0;
}

.inside div:nth-child(2) li p {
    font-size: 14px;
    color: #333;
    display: inline-block;
    white-space: nowrap;
}

.banner {
    font-size: 20px;
    border-bottom: 1px solid #333;
    color: #aaa !important;
}

.profile li {
    color: #888;
}

.profile li p {
    color: #ddd !important;
}

/* ------------------------------------ BOB PROPERTY -------------------------------------  */

@-webkit-keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/* ---------------------------------------------------------------------------------------- */