@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    background: #E3350D;
    font-family: 'Nunito', sans-serif;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.main {
    text-align: center;
}

.pokemon_list {
    margin: auto;
    text-transform: capitalize;
}

.pokemon_list ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    background: #fff;
    margin: 1%;
    padding: 40px;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.pokemon_list h2 {
    font-weight: normal;
    color: #222;
    width: fit-content;
    margin: auto;
}

.pokemon_list p {
    font-size: 20px;
    margin: 5px 0;
    color: #666;
    margin: auto;
    width: fit-content;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
}

.pagination {
    text-align: center;
}

.pagination button {
    margin: 1%;
}

input[type="search"] {
    width: 100%;
    border: 0;
    padding: 20px;
    font-size: 20px;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
}

#modal h1 {
    font-weight: normal;
    text-transform: capitalize;
    color: #222;
    margin-bottom: 15px;
}

#modal h1 span {
    color: #666;
}

#modal .inside {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.inside div {
    flex: 1;
}

.inside div .types li {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    text-transform: uppercase;
}

.inside div .types li[name="poison"] {
    background: #934b92;
}

.inside div .types li[name="grass"] {
    background: #69c23d;
}

.inside div .types li[name="fire"] {
    background: #ed6f35;
}

.inside div .types li[name="water"] {
    background: #94b7e7;
}

.inside div .types li[name="bug"] {
    background: #a8b928;
}

.inside div .types li[name="flying"] {
    background: #aaa;
}

.inside div .types li[name="normal"] {
    background: #a8a878;
}

.inside div .types li[name="electric"] {
    background: #f8d03c;
}

.inside div .types li[name="fairy"] {
    background: #ef99ac;
}

.inside div .types li[name="fighting"] {
    background: #c03028;
}

.inside div .types li[name="psychic"] {
    background: #f65888;
}

.inside div .types li[name="ground"] {
    background: #e0bf68;
}

.inside div .types li[name="ice"] {
    background: #98d8d8;
}

.inside div .types li[name="ghost"] {
    background: #111;
}

.inside div .types li[name="rock"] {
    background: #b9a138;
}

.stats {
    margin-top: 10%;
    font-size: 12px;
}

.stats li {
    display: block;
}

.bar {
    width: 300px;
    height: 20px;
    background: #ddd;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 6px;
    color: #fff;
    overflow: hidden;
}

.bar span {
    background: #3289db;
    display: block;
    height: 100%;
    padding-top: 3px;
}

.inside div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.inside div:nth-child(2) li {
    display: block;
    margin: 30px 0;
}

.inside div:nth-child(2) li p {
    font-size: 14px;
    color: #333;
    display: inline-block;
    white-space: nowrap;
}

.banner {
    background: #aaa;
    font-size: 20px;
    padding: 8px;
}

/* ------------------------------------ BOB PROPERTY -------------------------------------  */

@-webkit-keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

/* ------------------------------------ BOB PROPERTY -------------------------------------  */